body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

    #calculatorContainer {
    display: grid;
    grid-template-rows: auto 1fr; 
    grid-row-gap: 10px;
    max-width: 300px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  #displayContainer {
    grid-row: 1; 
    grid-column: span 4; 
    display: flex;
    flex-direction: column-reverse;
    min-height: 75px;
    height: auto;
    width: 280px;
    max-width: 280px;
    font-size: 24px;
    text-align: right;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px 0;
    overflow-wrap: break-word;
  }
    #calculationDisplay,
    #userInputDisplay {
    flex: 1;
    margin: 7px; /* Adjust padding for better visibility */
    }


  #buttonContainer {
    grid-row: 2; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 0;
    width: 280px;
  }

  .calculatorButton {
    grid-column: span 1;
    padding: 15px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

  }

  .calculatorButton:active {
    background-color: #ddd;
  }

  #equalsButton {
    grid-column: span 2;
  }